<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/Footer-with-button-logo.css">
</head>


<footer>
  <div class="container">
      <p>Powered by:</p>
      <div class="col-sm-3">
        <h2 class="logo"><a href="#"><%= image_tag("adwmainz.png") %></a></h2>
      </div>
      <div class="col-sm-3">
        <h2 class="logo"><a href="#"><%= image_tag("mainzedlogo.png") %></a></h2>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        </div>
        <h5>More</h5>
        <ul>
          <a href="#">Impressum</a>
          <a href="#">About me</a>
          <a href="#">Get on the forum</a>
        </ul>
      </div>
      </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
